<!doctype HTML>
<style>
table, th, td {
    border: 1px solid black;
}

</style>

<h1> {{ classe }} </h1>

<table>
    <tr>
        <th> Enonce </th>
        <th> Matiere </th>
        <th> Prof </th>
        <th> Date </th>
        <th> Pièce jointe </th>
        <th> A rendre </th>
    </tr>
    {% for devoir in devoirs %}
    <tr>
        {% for c in devoir %}
            {% if loop.index == 5 %}
                {% if c %}
                    <td> <a href="{{ url_for('pj', pj = c) }}"> {{ devoir[loop.index] }} </a> </td>
                {% else %}
                    <td> </td>
                {% endif %}
            {% elif loop.index == 6 %}
            {% else %}
                <td> {{ c }} </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
