<!doctype HTML>
<style>
table, th, td {
    border: 1px solid black;
}

</style>

<h1> {{ classe }} </h1>

<table>
    <tr>
        <th> Enonce </th>
        <th> Matiere </th>
        <th> Prof </th>
        <th> Date </th>
        <th> Pièce jointe </th>
        <th> A rendre </th>
    </tr>
    {% for devoir in devoirs %}
    <tr>
        {% for c in devoir %}
            {% if loop.index == 5 %}
                <td>
                    {% if not c[0] == None %}
                        {% for pj in c %}
                            <a href="{{ url_for('pj', pj = pj) }}"> {{ devoir[5][loop.index - 1] }} </a> </br>
                        {% endfor %}
                    {% endif %}
                </td>
            {% elif loop.index == 6 %}
            {% else %}
                <td> {{ c }} </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
