<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='classes.css') }}">
    <script src="{{ url_for('static', filename='classes.js') }}"> </script>
    <title> Excalynote </title>
</head>
<body onload="init()">
Bienvenue {{ user }}

<h1> Liste des classes </h1>

<button id="myBtn" onclick="open_modal()"> Ajouter une classe </button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span id="modal_close">&times;</span>
        <form action="/admin/enseignants" method="POST">
            <input name="id" id="modal_id" type="hidden" value="" />
            <p>
            <label> Nom </label>
            <input id="modal_nom" type="text" name="nom" placeholder="Nom" />
            </p>

            <p>
            <select id="modal_select" multiple>
                {% for e in enseignants %}
                <option> {{ e[3] }} </option>
                {% endfor %}
            </select>
            </p>
            <button name="new" id="modal_submit" type="submit"> Ajouter </button>
        </form>
    </div>
</div>

<form action="/admin/classes" method="POST">
    <input type="text" name="new" placeholder="Nom de la classe"></input>
    <button type="submit"> Ajouter </button>
</form>

{% for classe in classes %}
    <form class="classes" action="/admin/classes" method="POST">
        <input id="{{ classe[0] }}" name="name" readonly value="{{ classe[0] }}"></input>
        <button type="button" id="m_{{ classe[0] }}" onclick="open_modal({{ classe }})"> M </button>
        <button type="submit" name="suppr" value="{{ classe[0] }}"> X </button>
    </form>
{% endfor %}

</body>
