<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='devoirs.css') }}">
    <script src="{{ url_for('static', filename='devoirs.js') }}"> </script>
    <title>Excalynote</title>
</head>

<body>
    <h2> Bienvenue {{ user.id }} </h2>
    <table id="devoirs">
        <tr>
            <th class="gauche"></th>
            <!--<th>Numéro :</td>-->
            <th>Énoncé :</td>
            <th>Matière :</td>
            <th>Prof :</td>
            <th>Date :</td>
            <th>Pièce jointe :</td>
            <th>À rendre :</td>
        </tr>

        {% for devoir in devoirs %}
            <tr id="line_{{devoir[0]}}">
                <form action="/devoirs" method="POST" id="form_{{devoir[0]}}" name="devoir">
                    <th class="gauche">
                        {{ loop.index }}
                    </th>
                    {% for c in devoir[1:] %}
                        <th id="{{loop.index}}">
                            {# L'index 5 correspond à l'index de la liste des pièces jointe #}
                            {% if loop.index == 5 %}
                                {% for pj in c %}
                                    <a href="{{ url_for('pj', pj = pj[0]) }}"> {{ pj[1] }} </a> </br>
                                {% endfor %}


                            {% elif loop.index==1 %}
                                <textarea class="{{devoir[0]}}" name="enonce" readonly>{{ c }}</textarea>

                            {% elif loop.index==4 %}
                                <input type="text" value="{{ c }}" class="{{devoir[0]}}" name="date" readonly></input>

                            {% else %}
                                {{ c }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    <th>
                        <button type="button" style="visibility: visible;" id="button_{{devoir[0]}}"
                            value="{{devoir[0]}}" onclick="editable(this)" > Modifier</button>

                        <button type="submit" style="visibility: hidden;" name='devoir_id'
                            id="save_button_{{devoir[0]}}" value="{{devoir[0]}}">Enregistrer</button>
                    </th>
                    <th>
                        <form action='/devoirs' method='POST' id="centre">
                            <button type="submit" name='delete_button' value="{{devoir[0]}}"> suprrimer devoir  </button>
                        </form>
                    </th>
                </form>
            </tr>

       {% endfor %}
    </table>
    <!--<div id="signaler"><u>Signaler bug/envoyer un commentaire</u></div>-->
    <a href="/nouveau">ajouter un devoir </a>
</body>
</html>
