<!DOCTYPE html>

<script>
    var ouvert = false;
    function afficherClasses() {
        var choix = document.getElementById("classes");
        ouvert = !ouvert
        choix.style.display = (ouvert === true) ? "block" : "none";
    }
</script>

<style>
.multiselect {
    width: 200px;
}
.selectBox {
    position: relative;
}
.selectbox select {
    width: 100%;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#classes {
    display: none;
    border: 1px black solid;
}

#classes label {
    display: block;
}
</style>

<body>
    <h2> Bienvenue {{ user.id }} </h2>
    <form action="/nouveau" method="POST" enctype="multipart/form-data">
        <label> Enonce </label> <br>
        <textarea name="enonce"></textarea>

        <br>

        <label> Matière </label>  <br>
        <select name="matiere">
            {% for matiere in matieres %}
                <option value={{ matiere }}> {{ matiere }} </option>
            {% endfor %}
        </select>

        <br>

        <label> Fichier </label> <br>
        <input type="file" multiple name="file">

        <br>
        <br>

        <div class="multiselect">
            <div class="selectBox" onclick="afficherClasses()">
                <select>
                    <option> Choix des classes </option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="classes">
                {% for option in classes %}
                    <label for="{{ option }}">
                        <input type="checkbox" name="{{ option }}" />
                        {{ option }}
                    </label>
                {% endfor %}
            </div>
        </div>

        <br>

        <input type="date" name="date">

        <br>

        <button type="submit"> Ok </button>
    </form>
</body>
