    <form action="/devoirs" method="POST" id="form_{{devoir[0]}}" name="devoir">
        {% for c in devoir[1:] %}
        {% endfor %}
        <th>
            <button type="button" style="display: block;" id="button_{{devoir[0]}}"
                value="{{devoir[0]}}" onclick="editable(this)" > Modifier</button>

            <button type="submit" style="display: none;" name='devoir_id'
                id="save_button_{{devoir[0]}}" value="{{devoir[0]}}">Enregistrer</button>
        </th>
        <th>
            <form action='/devoirs' method='POST' id="centre">
                <button type="submit" name='delete_button' value="{{devoir[0]}}"> suprrimer devoir  </button>
            </form>
        </th>
    </form>
</tr>

{% endfor %}
</table>
<!--<div id="signaler"><u>Signaler bug/envoyer un commentaire</u></div>-->
<a href="/nouveau">ajouter un devoir </a>
</body>
</html>


			<td>
				<p id="matiere1_{{devoir[0]}}" >Programmation</p>
				<select id="matiere2_{{devoir[0]}}" style="display:none;">
					<option >Cours</option>
					<option >Algorithmique</option>
					<option >BD</option>
					<option >Expression et Communication</option>
					<option selected>Programmation</option>
					<option >PPP</option>
				</select>
			</td>
			<td>

