body{margin:0;}


#header
{
	background-color:#0092bb;
	width:100%;
	height: auto;
	border-bottom: 2px solid black;
}


h1
{
	font-size: 400%;
	text-align: center;
	background-color: #84D7E7;
	display:table;
	border: 5px solid black;
	border-radius: 20px;
	margin: 10% auto 0 auto;
	padding: 0 2% 0 2%;
} 


h2
{
	font-size: 200%;
	text-align: center;
	width: fit-content;
	width:-moz-fit-content;
	display:table;
	border: 3px solid black;
	border-radius: 70px 20px 70px 20px;
	margin: 1% auto 0% auto;
	padding: 0 7% 0 7%;
	cursor:pointer;
} 


#signaler
{
	font-size: 100%;
    position: absolute;
    left: 1%; bottom: 1%;
}